{
  "endOfLine": "lf",
  "singleQuote": false,
  "tabWidth": 2,
  "trailingComma": "es5",
  "printWidth": 100,
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindStylesheet": "packages/ui-web/src/styles/globals.css",
  "tailwindFunctions": ["cn", "cva"]
}
