SERVER_PORT='7007'
SUPABASE_URL=''
SUPABASE_API_KEY=''
DATABASE_URL=""
CORS_ENABLED_URL='http://localhost:3000,http://localhost:3001'
# development | staging | production
NODE_ENV='development'
MIN_LOG_LEVEL='info'
