SERVER_PORT='7007'
SUPABASE_URL=''
SUPABASE_API_KEY=''
DATABASE_URL=""
CORS_ENABLED_URL='http://localhost:3000,http://localhost:3001,https://appear-den-elvis-solar.trycloudflare.com'
# development | staging | production
NODE_ENV='development'
MIN_LOG_LEVEL='info'

CLOUDFLARE_ACCOUNT_ID=''
CLOUDFLARE_STREAM_API_TOKEN=''
CLOUDFLARE_STREAM_CUSTOMER_CODE=''
CLOUDFLARE_STREAM_WEBHOOK_SECRET=''

CLOUDFLARE_R2_ACCESS_KEY_ID=''
CLOUDFLARE_R2_SECRET_ACCESS_KEY=''
CLOUDFLARE_R2_BUCKET=''
CLOUDFLARE_R2_ENDPOINT='https://<account-id>.r2.cloudflarestorage.com'
CLOUDFLARE_R2_PUBLIC_URL='https://files.example.com'
